body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    margin: 0;
    padding: 0;
    background-color: #f6f6ee;
    color: #c297b6;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    background-color: #e0e1cd;
    padding: 20px;
    font-size: 18px;
    width: 60%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px #b5b887;
}
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
input[type="text"] {
    width: calc(100% - 16px); 
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 4px;
}
input[type="number"] {
    width: calc(100% - 16px); 
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 4px;
}
form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

form button {
    padding: 12px 24px;
    background-color: #c297b6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #a66c8c;
}
#result {
    margin: 20px auto;
    font-size: 18px;
    padding: 20px;
    background-color: #e0e1cd;
    width: 60%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 6px #b5b887;
}